@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #EEF2F5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d6dadd;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:active {
  background-color: grey;
}

input::placeholder {
  color: rgb(60, 60, 60);
}

a {
  color: inherit;
  text-decoration: none;
}

#t-stroke {
  -webkit-text-stroke: 1px #1D1D29;
}

#b-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
}

#grid {
  --grid-layout-gap: .5rem;
  --grid-column-count: 5;
  --grid-item--min-width: 250px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: 250px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--total-gap-width);
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EEF2F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}
